name: Lint Check

on:
  pull_request:
    types: [opened, synchronize, ready_for_review, edited]
    branches: [ "develop", "feature*", "hotfix*", "release*" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: set up JDK 11
      uses: actions/setup-java@v3
      with:
        java-version: '11'
        distribution: 'temurin'
        cache: gradle

    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
    - name: Lint Check
      run: ./gradlew spotlessCheck
